@font-face {
    font-family: "HANNA";
    src: url("../../lib/BMHANNA_11yrs.woff");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background: #EAEAEA;
}

.top-nav {
    display: flex;
    padding: 0 12rem;
    box-shadow: 0 0.2rem 3rem #A1A1A1;
    background: white;
    justify-content: space-evenly;
}

.top-nav-layout {
    font-family: HANNA, serif;
    display: flex;
    height: 6rem;
    width: 12rem;
    padding: 2rem;
    font-size: 5rem;
}

.top-nav-layout:hover > .nav-link {
    color: #96D1F2;
}

.nav-link {
    height: fit-content;
    width: fit-content;
    color: black;
    align-self: center;
    text-decoration: none;
}

#home-img {
    padding-top: 1rem;
    height: 6rem;
}

#img{
    position: relative;
    left: 0; top: 0;
    width: 68rem; height: 31.25rem;
}

.slide {
    position: absolute;
    width: 68rem;
    height: 41.9375rem;
    animation: slider 15s infinite linear;
    /*display: inline-block; 또는 display: inline-flex;*/ 
    font-size: 0;
}

.p1 {
    font-family: HANNA, serif;
    position: relative;
    left: 15.5%; top: 0%;
    font-size: 3.125rem;
}

.p2 {
    font-family: HANNA, serif;
    position: relative;
    left: 11%; top: 0%;
    font-size: 3.125rem;

}
.p3 {
    font-family: HANNA, serif;
    position: relative;
    left: 30%; top: 0%;
    font-size: 3.125rem;
}
.slider {
    position: relative;
    overflow: hidden;
    top: 1rem;
    left: 5rem;
    width: 68rem;
    height: 41.9375rem;
    display: inline-block;
    white-space: nowrap;
    font-size: 0;
}

.pagination {
    position: relative;
    top: 2rem; left: 45rem;
    display: inline-block;
}
  
.pagination a {
    color: black;
    float: top;
    padding: 8px 16px;
    text-decoration: none;
}

#StartStop {
    position: relative;
    top: 0rem; left: 60rem;
    width: 3rem;
    height: 3rem;
    /* float: right; */
}

#logo {
    position: relative;
    left: 16rem; top: 10rem;
    width: 10rem; height: 9rem;
}

.tool {
    width: 75rem;
    margin: 8rem;
    height: 30rem;
}
  
.language_of_use{
    font-family: HANNA, serif;
    font-size: 3rem;
    position: relative;
    left: 32rem; width: 50rem;
}

#map {
    margin-top: 0rem;
    margin-left: 1rem;
    width: 100rem; height: 50rem;
}

.use {
    position: relative;
    left: 2rem;
    width: 100rem;
}

.introduction{
    font-family: HANNA, serif;
    font-size: 3rem;
    margin-left: 35rem;
} 

#list {
    margin-left: 3rem;
}
.list_introduction {
    position: relative;
    font-family: HANNA, serif;
    font-size: 3rem;
    left: 50rem; width: 50rem;
    bottom: 23rem;
}

#provide_of_list {
    margin-left: 13rem;
}

.provide_introduction{
    position: relative;
    font-family: HANNA, serif;
    font-size: 3rem;
    left: 20rem; width: 70rem;
    bottom: 0rem;
}
 
.pagination a:hover:not(.active) {background-color: #4caf50;}

.slide:nth-child(1){
    animation-delay: 0;
}
.slide:nth-child(3){
    animation-delay: -5s;
}
.slide:nth-child(2){
    animation-delay: -10s;
}

@keyframes slider {
    0% {
      transform: translateX(0);
    }
  
    26% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    93% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
}