@font-face {
    font-family: "HANNA";
    src: url("../../lib/BMHANNA_11yrs.woff");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background: #EAEAEA;
}

.top-nav {
    display: flex;
    padding: 0 12rem;
    box-shadow: 0 0.2rem 3rem #A1A1A1;
    background: white;
    justify-content: space-evenly;
}

.top-nav-layout {
    font-family: HANNA, serif;
    display: flex;
    height: 6rem;
    width: 12rem;
    padding: 2rem;
    font-size: 5rem;
}

.top-nav-layout:hover > .nav-link {
    color: #96D1F2;
}

.nav-link {
    height: fit-content;
    width: fit-content;
    color: black;
    align-self: center;
    text-decoration: none;
}

#home-img {
    padding-top: 1rem;
    height: 6rem;
}