@font-face {
    font-family: "HANNA";
    src: url("../../lib/BMHANNA_11yrs.woff");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background: #EAEAEA;
}
span, div, nav {
    font-family: HANNA, serif;
}

.top-nav {
    display: flex;
    width: 100%;
    box-shadow: 0 0.2rem 3rem #A1A1A1;
    background: white;
    justify-content: center;
}

.top-nav-layout {
    display: flex;
    width: fit-content;
    padding: 2rem;
    font-size: 6vw;
}

.top-nav-layout:hover > .nav-link {
    color: #96D1F2;
}

.nav-link {
    height: fit-content;
    width: fit-content;
    color: black;
    align-self: center;
    text-decoration: none;
}

#home-img {
    padding-top: 1rem;
    height: 6rem;
}

#main-banner {
    display: flex;
    margin-top: 4rem;
    background: linear-gradient(to left, #77E7FF 70%, #00A3FF);
    justify-content: center;
}

#main-banner-img {
    height: 20rem;
}

#main-banner-text {
    display: flex;
    align-self: center;
    color: white;
    font-size: 300%;
    margin-left: 10%;
}

#map-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    align-items: center;
}

#map-iframe {
    display: flex;
    background: white;
    padding: 1rem;
    width: 45%;
    border: black 0.2rem solid;
    border-radius: 30px;
    margin-right: 1%;
    height: 65vh;
}

#map-img {
    width: 100%;
    align-self: center;
}

#review-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    width: 50%;
}

#review-question {
    display: flex;
}

#location-mark {
    height: 5rem;
}

#question-text {
    font-size: xxx-large;
    align-self: center;
    margin-left: 3rem;
}

#review {
    display: flex;
    flex-direction: column;
    background: white;
    border: black 0.2rem solid;
    border-radius: 30px;
    margin-top: 2rem;
}

#review-top {
    display: flex;
    padding: 2rem;
}

#restaurant-title {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#restaurant-name {
    display: flex;
    align-self: center;
    font-size: xxx-large;
    margin-bottom: 1rem;
}

#review-img{
    display: flex;
}

#review-img-1 {
    width: 66%;
}

#review-img-side {
    display: flex;
    flex-direction: column;
    width: 33%;
}

#review-img-2 {
    width: 100%;
}

#review-img-3 {
    width: 100%;
}

#restaurant-text {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border: black 0.2rem solid;
    border-radius: 30px;
    margin-left: 2rem;
    width: 32rem;
}

.restaurant-text-inline {
    font-size: x-large;
    padding: 1rem 0;
}

#detail {
    align-self: flex-end;
    text-decoration: underline;
}

#review-bottom {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

#star-score {
    display: flex;
    margin-left: 2rem;
    width: 33%;
}

.star {
    width: 20%;
}

#phone-number {
    width: 33%;
    font-size: 2vw;
    align-self: center;
    text-align: center;
}

#site-address {
    width: 33%;
    font-size: 2vw;
    align-self: center;
    text-align: center;
}

/* 스크롤 바 전체에 대한 스타일 지정 */
::-webkit-scrollbar {
    width: 1rem; /* 스크롤 바의 너비 */
    height: 1rem; /* 스크롤 바의 높이 */
    background-color: #989898; /* 스크롤 바의 배경색 */
    border: solid 0.2rem #000000;
    border-radius: 1rem;

}

/* 스크롤 바의 색상 지정 */
::-webkit-scrollbar-thumb {
    background-color: #BCBCBC; /* 스크롤 바의 색상 */
    border: solid 0.2rem #000000;
    border-radius: 1rem;
}

/* 스크롤 바 호버 시 색상 지정 */
::-webkit-scrollbar-thumb:hover {
    background-color: #00A3FF; /* 스크롤 바의 색상 */
}