 /*body, html {
    height: ;
    display: flex;
    margin-top: 200px;
  }*/

  script {
      margin-top: 0px;
  }

  .white-square {
    
    position: relative;
    width: 800px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2px solid #000;
    background: #FFF;
    overflow-y: auto; /* 세로 스크롤을 추가합니다. */
  }

  .text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    font-family: BM HANNA_TTF;/*'BM HANNA_TTF', sans-serif*/
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
  }

  .rectangle {
    /*1 position: absolute; */
    width: calc(100% - 400px); /* 10px 여백 고려하여 조정 */
    height: 250px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    border: 2px solid #000;
    background: rgba(150, 209, 242, 0.66);
    /* 1 display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* 각 사각형 간격을 위한 여백 */
    
  /* 1 display: flex; /* 추가 */
  /* 1 justify-content: space-between;
  align-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 650px;
  /*flex-direction: column; /* 추가 */
  }

  .small-rectangle {
    height: 95%;
    border-radius: 30px;
    border: 2px solid #000;
    background: #FFF;
   /*1 margin-bottom: 20px; /* 아래쪽 간격 추가 */
  }

  .left-small-rectangle {
    width: calc(66.66% - 10px); /* 2/3 크기로 설정 */
  }

  .right-small-rectangle {
    width: calc(33.33% - 10px); /* 1/3 크기로 설정 */
  }

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #000;
    background: #FFF; /* 배경색을 하얀색으로 설정 */
    /*position: absolute;*/
    top: -8px;
    left: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 작은 사각형 안의 텍스트 */
  .text-inside-small-rectangle {
    /*position: absolute;*/
    top: 30px; /* 위쪽에서 5px */
    left: 60px; /* 왼쪽에서 10px */
    color: #000;
    font-family: 'BM HANNA_TTF', sans-serif;
    font-size: 15px;
    font-weight: bold;
  }

  /* 사진1 */
  .image-1 {
    width: 150px;
    height: 100px;
   /*position: absolute;*/
    top: 70px; /* 텍스트 아래에서 5px 떨어진 곳 */
    left: 20%;
    border-radius: 10px;
    transform: translateX(-80%);
  }

  /* 사진2 */
  .image-2 {
    width: 150px;
    height: 20px;
 /*position: absolute;*/
    top: 190px; /* 사진1 아래에서 5px 떨어진 곳 */
    left: 14%;
    transform: translateX(-50%);
  }

  /* 사각형6 */
  .rectangle-6 {
    width: 230px;
    height: 140px;
   /*position: absolute;*/
    top: 30px; /* 사진2 아래에서 5px 떨어진 곳 */
    left: 45%;
    transform: translateX(-50%);
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
  }

  /* 텍스트 내용 */
  .rectangle-6 p {
    font-size: 12px;
    margin: 10;
  }

  /* "상세보기" 텍스트 */
  .detail-text {
 /*position: absolute;*/
    width: 100px; /* 텍스트 크기에 따라 조정 */
    height: 50px;
    top: 125px; /* 사각형6의 테두리를 기준으로 아래에서 5px 떨어진 곳 */
    right: -25px; /* 테두리 오른쪽에서 5px 떨어진 곳 */
    color: #000;
    font-size: 12px;
  }

  /* "02-111-1111" 텍스트 */
  .contact-info {
 /*position: absolute;*/
    top: 170px; /* 사각형6의 테두리를 기준으로 아래에서 10px 떨어진 곳 */
    right: 155px; /* 오른쪽으로 10px */
    font-size: 12px;
    color: #000;
  }

  /* "www.nitip.com" 텍스트 */
  .website-info {
  /*position: absolute;*/
    top: 170px; /* 사각형6의 테두리를 기준으로 아래에서 10px 떨어진 곳 */
    right: 10px; /* 오른쪽으로 10px */
    font-size: 12px;
    color: #000;
  }

  /* 사진3 */
  .image-3 {
    width: 160px;
    height: 110px;
 /*position: absolute;*/
    top: 30px; /* 테두리를 기준으로 위에서 3px 떨어진 곳 */
    right: 43px; /* 오른쪽에서 10px */
    border-radius: 10px;
  }

  /* 사진4 */
  .image-4 {
    width: 100px;
    height: 20px;
 /*position: absolute;*/
    top: 150px; /* 사진4 아래에서 3px 떨어진 곳 */
    right: 43px; /* 오른쪽에서 10px */
  }

  /* 사각형7 */
  .rectangle-7 {
    width: 180px;
    height: 40px;
 /*position: absolute;*/
    top: 180px; /* 사각형 테두리를 기준으로 아래에서 10px 떨어진 곳 */
    right: 30px; /* 오른쪽에서 10px */
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
  }
